@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }

  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

body {
  background-color: #171819;
  /* rgb(32, 33, 34); */
  /* background-color: #161A2B;  */
  color: white;
}

:focus-visible {
  outline: none;
  /* outline: 1px dashed black; */
}

/* Focusing the button with a mouse, touch, or stylus will show a subtle drop shadow. */
:focus:not(:focus-visible) {
  outline: none;
  /* box-shadow: 1px 1px 5px rgba(1, 1, 0, .7); */
}

html {
  scroll-behavior: smooth;
  
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}


html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* font-family: 'Lato', 'Open Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: -webkit-fill-available; */

  /* overflow: scroll;
  background-color: 'red'; */
}

/** This is usper important for "flex" to work correctly */
/* * {  */
/* box-sizing: border-box;
  min-width: 0; 
  min-height: 0; */
/* } */
