.flipNumber {
  perspective: 1000px;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
}

.flipInner {
  display: inline-block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  will-change: transform;
}

.flip {
  transform: rotateX(360deg);
}
